nav.navbar.navbar-expand.navbar-dark.bg-dark
    div.collapse.navbar-collapse.d-lg-flex.align-items-center
        a.navbar-brand(href="../index.html") IMDB CLONE
        ul.navbar-nav
            li.nav-item
                a.nav-link(href="../create.html") Create Recipe
            li.nav-item
                a.nav-link(href="../recipes") Browse Recipes

        form.form-inline.ml-auto
            input.form-control.mt-3.mr-3(type="search" placeholder="Search Movie" aria-label="Search")
            button.btn.btn-outline-success.mt-3(type="submit") Search
