script
    include ../scripts/nav-search.js


nav.navbar.navbar-expand.navbar-dark.bg-dark
    div.container-fluid
        a.navbar-brand(href="/") IMDB CLONE
            | !{' '}
            i.fa.fa-film(style={color: "white"})
        div.collapse.navbar-collapse
            a.nav-link(href="/contribute/") Contribute
            div.dropdown
                a.nav-link.dropdown-toggle(href="#" role="button" id="searchDropDownLink" data-bs-toggle="dropdown" aria-expanded="false") Advanced Search
                form.dropdown-menu.dropdown-menu-dark.p-2(onsubmit="return submitAdvancedSearch()" action="/movies?" method ="GET" aria-labelledby="searchDropDownLink" id="advanced-search-form")
                    input.form-control.mb-3(type="search" placeholder="Title" aria-label="Search" name="title")
                    input.form-control.mb-3(type="search" placeholder="Genre" aria-label="Search" name="genre")

                    input.form-control.mb-3(list="actorAutoList" type="search" placeholder="Actor Name" aria-label="Search" name="actorName" onkeypress="actorSelectKeyPress()" autocomplete="off")#actorNameSearch
                    datalist#actorAutoList

                    button.btn.btn-outline-success.me-3(type="submit") Search


        form.d-flex.mt-3(action="/movies?" method="GET")#simple-search-form
            input.form-control.me-3#basic-search-input(type="search" placeholder="Search Movie" aria-label="Search" name="title")
            button.btn.btn-outline-success.me-3(type="submit") Search

        div.dropdown
            button.btn.btn-outline-primary.btn-lg.dropdown-toggle(type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false")
                i.fa.fa-user(style={color: "white"})

            div.dropdown-menu.dropdown-menu-dark.dropdown-menu-end(aria-labelledby="dropdownMenuButton")
                a.dropdown-item(href="/logout/") Logout
                a.dropdown-item(href="/myProfile")#profile-link Profile



