nav.navbar.navbar-expand.navbar-dark.bg-dark
    div.container-fluid
        a.navbar-brand(href="../") IMDB CLONE
            | !{' '}
            i.fa.fa-film(style={color: "white"})
        div.collapse.navbar-collapse
            a.nav-link(href="../#") Contribute
            a.nav-link(href="../#") Advanced Search


        form.d-flex.mt-3
            input.form-control.me-3(type="search" placeholder="Search Movie" aria-label="Search")
            button.btn.btn-outline-success.me-3(type="submit") Search

        div.dropdown
            button.btn.btn-outline-primary.btn-lg.dropdown-toggle(type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false")
                i.fa.fa-user(style={color: "white"})

            div.dropdown-menu.dropdown-menu-dark.dropdown-menu-end(aria-labelledby="dropdownMenuButton")
                a.dropdown-item(href="../login/") Sign In/Up
                a.dropdown-item(href="../users/0") Profile


