html
    head
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous")
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

    style
        include ../../stylesheets/index.css

    script
        include ../../scripts/contribute.js

    title Contribute Page
    body
        include ../partials/navbar


        div.container

            h1.display-5.mt-3 Contribute:
            hr
            form(onsubmit="return submitPerson()" action="/people/" method="POST")
                h2 Add a Person:
                label.form-label.text-white(for="inputActorName") Person Name
                input.form-control.mb-3(type="text" id="inputActorName" name="personName")

                button.btn.btn-outline-primary.mt-3(type="submit") Add Person
            div.mt-5
                br
                h2 Add a Movie:
                    input.form-control.mb-3(list="writersAutoList" placeholder="Writer Name" aria-label="Search" onkeypress="personSelectKeyPress(1)" autocomplete="off")#writerNameSearch
                    datalist#writersAutoList
                    button.btn.btn-outline-primary.btn.mt-3(onclick=`addItem("writer")`) Add Writer To Movie

                    br
                    input.form-control.mb-3(list="directorsAutoList" placeholder="Director Name" aria-label="Search" onkeypress="personSelectKeyPress(2)" autocomplete="off")#directorNameSearch
                    datalist#directorsAutoList
                    button.btn.btn-outline-primary.btn.mt-3(onclick="addItem('director')") Add Director To Movie
                    br
                    input.form-control.mb-3( list="actorAutoList" placeholder="Actor Name" aria-label="Search" onkeypress="personSelectKeyPress(3)" autocomplete="off")#actorNameSearch
                    datalist#actorAutoList
                    button.btn.btn-outline-primary.btn.mt-3(onclick="addItem('actor')") Add Actor To Movie

            div.mt-5
                form.mt-5(onsubmit="return submitMovie()" action="/movies/" method="POST")
                    label.form-label.text-white(for="inputTitle") Title
                    input.form-control.mb-3(type="text" name="title" id="inputTitle")

                    label.form-label.text-white(for="inputRuntime") Runtime
                    input.form-control.mb-3(type="text" name="runtime" id="inputRuntime")

                    label.form-label.text-white(for="inputReleaseYear") Release Year
                    input.form-control.mb-3(type="text" name="releaseYear" id="inputReleaseYear")

                    label.form-label.text-white(for="inputGenre") Genre
                    input.form-control.mb-3(type="text" name="inputGenre" id="inputGenre")

                    h3 Writers
                        ul.list-group(id="writerList" class="wList" style={color:"black"})
                    h3 Directors
                        ul.list-group(id="directorList" class="dList" style={color:"black"})
                    h1 Actors
                        ul.list-group(id="actorList" class="aList" style={color:"black"})

                    button.btn.btn-outline-primary.btn.mt-3(type="submit") Add Movie
